<footer id="aboutus" class="page-footer">
    <div class="c">
      <div class="d iv jc offset-m1">
        <div class="c">
          <div style="text-align: center;" class="d ka ko">
            <img class="materialize-logo" src="/images/ellgrad.png" height="80" alt="">
            <p>Made with love by Sheryians</p>
          </div>
          <div class="d ka ko">
            <h5>About</h5>
            <ul>
            <li style="line-height: 10px;">
              <small>
                We are 
                <a style="color: rgb(121, 118, 118);" target="_blank" href="http://sheryians.com"><strong>The Sheryians Coding School</strong></a>.
              </small> 
            </li>
            <li style="line-height: 13px;"><small>Here, we teach people so you may outreach.</small></li>
          </ul>
          </div>
          <div class="d ka ko">
            <h5>Connect</h5>
            <ul>
              <li><a target="_blank" href="http://sheryians.com/#connectSheryMovement">Community</a></li>
              <li><a target="_blank" href="mailto: sheryians.community@gmail.com">Email</a></li>
            </ul>
          </div>
          <div class="d ka ko">
            <h5>Contact</h5>
            <ul>
              <li><a target="_blank" href="https://www.instagram.com/sheryians_coding_school/?hl=en">Instagram</a></li>
              <li><a target="_blank" href="https://www.facebook.com/sheryians.community/">Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
 
 
 <!-- Scripts -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <script src="https://cdn.jsdelivr.net/materialize/0.98.2/js/materialize.min.js"></script>
 <script src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/startup-all-min.js?100" crossorigin="anonymous"></script>
</body>
</html>