<nav class="n bi fj">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="/images/bell.png" height="30" alt=""></a>
      <ul id="nav-mobile" class="ag hide-on-med-and-down">
        <li><a href="#home">Home</a></li>
        <li><a href="#register">Register Greeting</a></li>
        <li><a href="#aboutus">About Us</a></li>
      </ul>
  
      <a href="#" data-activates="slide-out" class="button-collapse ag"><i class="material-icons white-text">menu</i></a>
    </div>
  </nav>
  <ul id="slide-out" class="side-nav">
    <li><a class="waves-effect waves-teal" href="#home">Home</a></li>
    <li><a class="waves-effect waves-teal" href="#register">Register Greeting</a></li>
    <li><a class="waves-effect waves-teal" href="#aboutus">About Us</a></li>
  </ul>